:root {
  --background: #f8f8f8;
  --paragraph-color: #444;
  --title-color: #000000;
  --link-color: #131d55;
  --link-color-hover: #2336a1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2d3e;
    --paragraph-color: #d2d3de;
    --title-color: #fff;
    --link-color: #13cae6;
    --link-color-hover: #97f1ff;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--paragraph-color);
  background-color: var(--background);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  display: flex;
  font-size: 16px;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--link-color);
  padding: 0 2px;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 500;
}

a:hover {
  color: var(--link-color-hover);
  text-shadow: 0 1px 1px var(--link-color-hover);
}

p {
  line-height: 1.5;
  font-size: 1.4rem;
}

h1,
h2 {
  color: var(--title-color);
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.wrapper {
  max-width: 740px;
  margin: 10vh auto 0;
  padding: 1rem;
}

.logo {
  border-radius: 50%;
  width: 160px;
  margin-bottom: 2rem;
}

@media (max-width: 759px) {
  .wrapper {
    margin-top: 2rem;
  }
}
